{% extends 'app.html.twig' %}

{% block content %}
    <div class="container my-3">
        <div class="mx-auto bg-light border border-color-dark shadow-sm">
            <div class="body mb-3">
                <h2>
                    <span>Impressum</span>
                </h2>
                <p class="mb-1 text-emphasised">Verantwortlich für den Betrieb der Website:</p>
                <p class="d-flex flex-column">
                    <span>Benjamin Wagner</span>
                    <span>Wagner Pictures</span>
                    <span>Schwalbenweg 14</span>
                    <span>12529 Schönefeld</span>
                </p>
                <p class="mb-1 text-emphasised">Kontakt:</p>
                <p class="d-flex flex-column">
                    <a href="tel:+493057714111">030-57714111</a>
                    <a href="mailto:bwagner@vapita.de">bwagner@vapita.de</a>
                </p>
                <p class="mb-1 text-emphasised">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
                <p>Benjamin Wagner</p>
                <p>Weitere Informationen auch unter <a href="https://www.wagnerpictures.com" target="_blank">www.wagnerpictures.com</a>.</p>











    </div>
{% endblock %}