{% extends 'app.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ trans["title"]["logout"] }}</h1>
        <div class="row row-sm-1 row-md-1 row-lg-2 row-lg-2">
            <div>
                <p class="lead">Vielen Dank für deinen Besuch.</p>
                <a href="{{ route('login') }}">Wieder einloggen</a>
            </div>
            <div class="p-3">

            </div>
        </div>
    </div>
{% endblock %}
