{% extends 'app.html.twig' %}

{% block content %}
    <div class="container my-3">
        <div class="mx-auto bg-light border border-color-dark shadow-sm" style="max-width: 576px">
            <div class="body mb-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                    </svg>
                    <span>Meine Aufgaben</span>
                </h2>
                <p class="mb-1">Füge Aufgaben hinzu und behalte immer den Überblick.</p>
                <form id="form_filter_tasks" method="get">
                    <label for="filter_tags">Filtern</label>
                    <select id="filter_tags" class="input">
                        <option selected>filtern...</option>
                        <option value="1">Haushalt</option>
                        <option value="2">Küche</option>
                    </select>
                </form>
                <hr>
                <div class="row" style="gap: 0">
                    {% for task in tasks %}
                        <a class="btn btn-light text-dark d-flex justify-content-space-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="me-1">
                                <label for="state_{{ task.id }}">Erledigt</label>
                                <input type="checkbox" class="" name="state_{{ task.id }}" id="state" value="">
                            </div>
                                <div class="d-flex flex-column align-items-flex-start">
                                    <span class="text-emphasised">{{ task.description }}</span>
                                    <span class="small">{{ task.dueDate|date('d.m.') }}</span>
                                </div>
                            </div>
                            <span class="d-flex justify-content-end px-content-1">
                                <span class="small bg-tertiary text-dark">Haushalt</span>
                            </span>
                        </a>
                        {% if now|date('d.m.Y') - task.dueDate|date('d.m.Y') > 1   %}
                            <span class="bg-danger" style="height: 2px;width: 100%"></span>
                        {% endif %}
                        {% if now|date('d.m.Y') - task.dueDate|date('d.m.Y') == 1   %}
                            <span class="bg-warning" style="height: 2px;width: 100%"></span>
                        {% endif %}
                        {% if now|date('d.m.Y') == task.dueDate|date('d.m.Y')  %}
                            <span class="bg-sucess" style="height: 2px;width: 100%"></span>
                        {% endif %}
                        {% if now|date('d.m.Y') - task.dueDate|date('d.m.Y') == -1 %}
                            <span class="bg-primary" style="height: 2px;width: 100%"></span>
                        {% endif %}
                        {% if now|date('d.m.Y') - task.dueDate|date('d.m.Y') == -2 %}
                            <span class="bg-tertiary" style="height: 2px;width: 100%"></span>
                        {% endif %}
                    {% else %}
                        <span>Noch keine Aufgaben vorhanden!</span>
                    {% endfor %}
                </div>
            </div>
            <div class="px-3 py-2 bg-tertiary d-flex justify-content-space-between align-items-center">
                <div>
                    <a class="btn btn-primary px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                        </svg>
                        Neu
                    </a>
                    <a class="btn btn-tertiary text-dark px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                        Tags
                    </a>
                </div>
                <a class="btn btn-danger disabled text-dark px-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Löschen
                </a>
            </div>
        </div>
    </div>
{% endblock %}
