{% extends 'base.html.twig' %}

{% block body %}
    {% block navigation %}
        <section id="navigation" class="bg-dark">
            <div class="container-fluid">
                <nav class="navbar d-flex justify-content-space-between">
                    {{ include('navigation/global_menu.html.twig') }}
                    {{ include('navigation/user_menu.html.twig') }}
                </nav>
            </div>
        </section>
    {% endblock %}
    {% block flash_messages %}
        {{ flash|raw }}
    {% endblock %}
    {% block content %}{% endblock %}
{% endblock %}
