<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logbuch App</title>
    <link rel="stylesheet" href="{{ link('styles/app.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>