{% extends 'app.html.twig' %}



{% block styles %}
    <link rel="stylesheet" href="{{ link('styles/error.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ link('favicon.svg') }}">
    <link rel="icon" type="image/png" href="{{ link('favicon.png') }}">
{% endblock %}
{% block navigation %}


{% endblock %}

{% block body %}


    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">Die angeforderte Seite existiert nicht oder nicht mehr oder ist unter einer neuen Adresse zu erreichen.</p>
        <p class="output">Gehe <a href="#" onclick="history.back()">zurück</a> oder <a href="{{ route('/') }}">zur Startseite</a>.</p>
        <p class="output">Viel Erfolg!</p>
    </div>


{% endblock %}
